# Fichier de configuration sensible
.env
config/
Scripts/
credentials.json
get_refresh_token.py

# Environnement virtuel
venv_django/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Cache et logs
*.log
*.pot
C:\Users\adech\monsiteweb\services\static\images
scp -r C:\Users\adech\monsiteweb\services\static\images root@195.110.34.46:/srv/monsiteweb/services/static/images
# Fichiers/dossiers générés automatiquement
staticfiles/
static/

# Migrations compilées
**/migrations/__pycache__/
**/migrations/*.pyc

# Paramètres locaux de VS Code (optionnel)
.vscode/

# sqlite 
db.sqlite3

# git
id_ed25519_github
id_ed25519_github.pub

